p
{
    margin: 10px;
    /*width: clamp(35ch, 50%, 75ch);*/
    width: clamp(min(45ch, calc(100% - 20px)), calc(100% - 20px), 75ch);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(192, 192, 192, 50%);
    font-size: 20px;
}
.CENTER_
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.IN_TWO_
{
    display: inline-block;
}
pre
{
    margin: 0;
}
code
{
    background-color: rgb(255, 255, 127);
    border: 1px solid rgb(60, 60, 60);
    margin: 10px;
    overflow-x: scroll;
    display: block;
    width: calc(100% - 20px);
    height: auto;
}
td
{
    font-family: monospace;
    font-size: 1.2em;
}
input[type="number"]
{
    width: 8ch;
}
img
{
    user-select: none;
    -webkit-user-drag: none;
}
kbd
{
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid black;
}
body
{
    background-color: rgb(60, 60, 60);
    overflow: hidden;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}
header h1
{
    margin: 0;
    text-align: center;
    font-size: clamp(2rem, 7vw, 7vw);
}
header h2
{
    margin: 0;
    text-align: center;
    font-size: clamp(1.43rem, 5vw, 5vw);
}
header h3
{
    margin: 0;
    text-align: center;
    font-size: clamp(1.14rem, 4vw, 4vw);
}

.LOADING_WHEEL_
{
    border: 16px solid rgb(60, 60, 60);
    border-top: 16px solid silver;
    border-bottom: 16px solid silver;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    animation: LOADING_WHEEL_SPIN_ 2s linear infinite;
}
@keyframes LOADING_WHEEL_SPIN_
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.BUTTON_
{
    all: unset;
    background-color: silver;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border: 10px solid rgb(60, 60, 60);
    font-family: monospace;
    font-size: 1.5em;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.BUTTON_:focus, .BUTTON_.HOVER_, .BUTTON_.SELECTED_
{
    background-color: rgb(127, 255, 127);
    border: 10px solid rgb(255, 127, 127);
}


#LOADING_SCREEN_
{
    background-color: rgb(60, 60, 60);
    color: silver;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#LAYOUT_
{
    z-index: -1;
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-rows: 50px auto 20px;
    grid-template-columns: 200px auto auto;
}

#HEADER_
{
    background-color: rgb(60, 60, 60);
    grid-area: HEADER_;
    display: grid;
    grid-template-areas: "MENU_MOBILE_DROPDOWN_BUTTON_ . ICON_ . GITHUB_LINK_ LINKEDIN_LINK_";
    grid-template-rows: 50px;
    grid-template-columns: 50px calc(50% - 75px) 50px auto 50px 50px;
}
#HEADER_ img
{
    height: 100%;
    border-radius: 50%;
}
#ICON_
{
    grid-area: ICON_;
    height: 100%;
}
#MENU_MOBILE_DROPDOWN_BUTTON_
{
    width: 50px;
    height: 50px;
    grid-area: MENU_MOBILE_DROPDOWN_BUTTON_;
    transition: 400ms;
    cursor: pointer;
}
#GITHUB_LINK_
{
    grid-area: GITHUB_LINK_;
}
#LINKEDIN_LINK_
{
    grid-area: LINKEDIN_LINK_;
}
#MENU_
{
    background-color: silver;
    grid-area: MENU_;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-areas: 'MENU_BUTTON_' 'MENU_BUTTON_' 'MENU_BUTTON_' 'MENU_BUTTON_' '.';
    grid-template-rows: 100px 100px 100px 100px auto;
    grid-template-columns: auto;
    z-index: 1;
    overflow: auto;
}
.MENU_BUTTON_
{
    height: calc(100% - 20px);
    position: relative;
    font-family: monospace;
    font-size: 1.5em;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.MENU_BUTTON_ img
{
    height: 50%;
    border-radius: 50%;
    transition: 1s;
}
main
{
    background-image: url("Images/Background_Image_1_32x64.png");
    overflow: hidden;
    grid-area: MAIN_;
    perspective: 1200px;

    
}
#MAIN_
{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    transform-style: preserve-3d;
}
footer
{
    background-color: silver;
    grid-area: FOOTER_;
    text-align: center;
}
.FIGURE_
{
    width: 100%;
    align-items: center;
}
.FIGURE_ img
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------*/
#HOME_PAGE_
{
    background: rgb(0, 0, 0);
    position: absolute;
    /*overflow: auto;*/
}
#HOME_PAGE_3D_EFECT_CONTAINER_
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#HOME_PAGE_3D_EFECT_
{
    
    overflow: hidden;
    z-index: -1;
}
#HOME_PAGE_TEXT_AREA_
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
}
/*#HEAD_SHOT_
{
    width: 25%;
}*/
/*--------------------------------------------------------*/
#AI_TITLE_
{
    grid-area: AI_TITLE_;
}
#AI_PLAY_AREA_
{
    grid-area: AI_PLAY_AREA_;
    width: 100%;
}
#AI_PLAY_AREA_ #SCORE_
{
    text-align: center;
    vertical-align:bottom;
    font-family: monospace;
    font-size: 150%;
}
#AI_PLAY_AREA_ #FIX_GAP_
{
    background-color: black;
    width: 100%;
    height: auto;
}
#AI_PLAY_AREA_ #SCENE_
{
    width: 100%;
}
#AI_PLAY_AREA_BUTTONS_
{
    width: 100%;
    height: 50px;
}
#AI_PLAY_AREA_BUTTONS_ div
{
    float: left;
    width: calc(100% / 3 - 20px);
    text-align: center;
}
#AI_PLAY_AREA_ #AI_CONTROLS_
{
    font-family: monospace;
}
#AI_PLAY_AREA_ #MANUAL_CONTROLS_
{
    width: 100%;
    height: 100px;
}
#AI_PLAY_AREA_ #MANUAL_CONTROLS_ div
{
    float: left;
    width: calc(50% - 20px);
    text-align: center;
}
#Q_TABLE_ table
{
    background-color: rgba(192, 192, 192, 0.75);
    width: 100%;
    text-align: center;
    border-spacing: 0;
}
#Q_TABLE_ table td
{
    width: 25%;
    border: 1px solid rgb(60, 60, 60);
    text-align: center;
}
#Q_TABLE_ table .HIGHLIGHTED_
{
    border: 1px solid rgba(255, 127, 127, 0.20);
    background-color: rgba(127, 255, 127, 0.20);
}
/*--------------------------------------------------------*/
#PROJECT_DEMONSTRATION_LIST_
{
    background-color: rgba(192, 192, 192, 0.75);
    display: grid;
    column-gap: 0;
    row-gap: 0;
}
#PROJECT_DEMONSTRATION_PLAY_AREA_
{
    display: grid;
    column-gap: 0;
    row-gap: 0;
}
#PROJECT_DEMONSTRATION_PLAY_AREA_ #SCREEN_
{
    width: 100%;
}
#PROJECT_DEMONSTRATION_PLAY_AREA_ #LEFT_CONTROLS_
{
    /*background-color: rgb(255, 0, 0,);*/
    grid-area: PLC_;
    width: 100%;
    
}
#PROJECT_DEMONSTRATION_PLAY_AREA_ #RIGHT_CONTROLS_
{
    /*background-color: rgb(255, 0, 255, 0.75);*/
    grid-area: PRC_;
    width: 100%;
}
#PROJECT_DEMONSTRATION_PLAY_AREA_ #JOY_STICK_OUT_
{
    border-radius: 50%;
    background-color: blue;
    width: 100%;
    aspect-ratio: 1/1;
}
#PROJECT_DEMONSTRATION_PLAY_AREA_ #JOY_STICK_IN_
{
    border-radius: 50%;
    background-color: rgb(255, 127, 0);
    width: 50%;
    aspect-ratio: 1/1;
    left: 25%;
    top: 25%;
    position: relative;
    pointer-events: none;
    font-family: monospace;
    font-size: 1.5em;
}
#JOY_STICK_IN_:hover
{
    background-color: rgb(127, 63, 0);
}
#PROJECT_DEMONSTRATION_PLAY_AREA_ #FOUR_BUTTON_OUT_
{
    border-radius: 50%;
    background-color: blue;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
#FOUR_BUTTON_IN_A_, #FOUR_BUTTON_IN_B_, #FOUR_BUTTON_IN_X_, #FOUR_BUTTON_IN_Y_
{
    border-radius: 50%;
    background-color: rgb(255, 127, 0);
    width: 33.33%;
    aspect-ratio: 1/1;
    position: relative;
    font-family: monospace;
    font-size: 1.5em;
}
#FOUR_BUTTON_IN_A_:hover, #FOUR_BUTTON_IN_B_:hover, #FOUR_BUTTON_IN_X_:hover, #FOUR_BUTTON_IN_Y_:hover
{
    background-color: rgb(127, 63, 0);
    color: aqua;
}
#SELECT_, #START_
{
    border-radius: 20px;
    background-color: rgb(255, 127, 0);
    width: 100%;
    aspect-ratio: 3/1;
    font-family: monospace;
    font-size: 1.5em;
}
#SELECT_:hover, #START_:hover
{
    background-color: rgb(127, 63, 0);
    color: aqua;
}
/*--------------------------------------------------------*/
.MAIN_PAGE_
{
    background-image: url("Images/Background_Image_2_32x64.png");
    overflow: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.TEXT_AREA_CONTAINER_
{
    position: relative;
    margin: 10px;
    background-color: rgba(192, 192, 192, 0.50);
    display: grid;
    gap: 10px;
}
.TEXT_AREA_
{
    background-color: rgba(192, 192, 192, 0.75);;
    width: calc(100% - 2px);
    border: 1px solid rgb(60, 60, 60);
    
}
/*------------------------------------------------------------------------------------------------*/
#GITHUB_PROJECTS_LIST_
{
    background-color: rgba(192, 192, 192, 0.75);
    display: grid;
    column-gap: 0;
    row-gap: 0;
}
